*{
    margin: 0;
 
    }
    body{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 400;
        line-height: 1.5;
        font-size: 12.5px;
        color: #212529;
    }
.cabecario{
    width: 100%;
    height: 4.9vh;
    background-color: #f5f5f5;
    font-size: 110%;
    font-family: "Cairo",sans-serif;
 
}
#icons{
    width: 0.8%;
}
nav{
    list-style: none;
    justify-content: space-around;
    display: flex;
   padding-left: 17%;
   padding-right: 10%;

}

#nav-menu { width: 60%;}
#nav-menu03 { width: 10%;
margin-right: 10%;}
#nav-menu03 svg, #nav-menu03 img { height: 15px;}

.teste{
    width: 10%;
    margin-left: 1%;
}
#nav-main li{
    
    height: 4vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    
}
#nav-main{
    display: flex;
    font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    height: 5vh;
    padding: 0%;
    margin: 0%;
    font-family: "Cairo"sans-serif;
    justify-content: space-around;
    margin-right: 15%;
}
#nav-drop{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 400%;
    opacity: 0;
    top: 200px;
    z-index: -99;
    background-color: black;
    transition: 0.5s;
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 10px;
    text-align: left;
}
#pages{
    text-decoration: none;
    color: #1c1c1c;
  
}
#pages:hover{
    color: #7fad39;
    transition: 0.5s;
}
#drop   { position: relative;}
#drop:hover #nav-drop
{
    opacity: 1;
    z-index: 99;
    top: 50px;
}
#pageslinks{
    color: white;
    text-decoration: none;
    text-align: left;
}
#pageslinks:hover{
    color: #7fad39;
}
#list{
    display: none;
}

.iconestxt{
    color: #1c1c1c;
    font-family: "Roboto", sans-serif;
    font-weight:700
}
main{
    display: grid;
    grid-template-columns: 19% 14% 29% 7% 25%;
    
   
}
.menu{
    background-color: #7fad39;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;

    padding-top: 11px;
    text-align: center;
}
#menulinks{
text-decoration: none;
list-style: none;
color: #1c1c1c;
margin-bottom: 15px;
text-align: left;
}
.pesquisa{
    border: solid #f5f5f5;;
    height: 40px;
    margin-left: 7%;
    font-size: 16px;
    font-weight: 700;
    padding-left: 18px;
    padding-top: 11px;
font-family: "Cairo",sans-serif;
}
.whatyouneed{
  text-align: center;
  font-size: 16px;

 color: #b2b2b2;
  padding-left: 20px;
  font-weight: 200;
  border: none;
  height: 3.5vh;
  outline: none;

}
#espaço{
        padding-bottom: 10%;
        text-align: left;
        margin-left: 10%;
}
.send{
    width: 100%;
    height: 5.9vh;
    background-color: #7fad39;
    border: none;
text-align: center;
}
.telefone{
    font-size: 18px;
    color: #7fad39;
    height: 55px;
    width: 55px;
    background: #f5f5f5;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-left: 13%;
   display: inline-block;
   
}
.numero{
    display: inline-block;
    font-size: 14px;
    color: #6f6f6f;
    margin-left: 5%;
}


#options-drop{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    top: 100px;
    z-index: -99;
    background-color: white;
    transition: 0.5s;
    color:#1c1c1c;
    font-family: "Cairo", sans-serif;
    font-size: 80%;
    border: solid 1px #f5f5f5;
    
    
}
#dropOptions   { position: relative;}

#dropOptions:hover #options-drop
{
    opacity: 1;
    z-index: 99;
    top: 15px;
  
}

section{
    width: 100%;
    height: 12vh;
    padding: 45px 0 40px;
    background-image: url(breadcrumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.row { padding-top: 2%;
    color: white;
    text-align: center;
}
#organic{
    font-size: 46px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
}
#home{
    color: white;text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.centro{
    display: inline-block;
    text-align: left;
}
#sale{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    font-size: 300%;
}
.text-center {
    text-align: center !important;
}
.sidebar {

    text-decoration: none;
}
.sidebar_item{
margin-bottom: 35px;
    color:#1c1c1c;
    font-family: "Cairo", sans-serif;
    font-size: 130%;
margin-left: -20%;
}
#price{
    width: 130%;
    background-color: #dd2222;
    height: 0.5vh;
}
#price_text{
    font-size: 16px;
    color: #dd2222;
    font-weight: 700;
    max-width: 20%;
    border: none;
    display: inline-block;
}
#departments{
    color: #1c1c1c;
    font-weight: 1000;
    font-size: 200%;
    margin-bottom: 25px;
    font-family: "Cairo", sans-serif;

}
#colors{
    display: inline-block;
    font-size: 16px;
    color: #333333;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}
#span{
    font-size: 16px;
    color: #6f6f6f;
    display: inline-block;
    font-family: "Cairo", sans-serif;
}
#default{
    text-decoration: none;
    color: black;
    font-size: 140%;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    margin-left: 10%;
    display: inline-block;
}
.default_Checkbox{

}

.default_list{
    z-index: -99;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
}
.default-Checkbox:checked .default_list{
    z-index: 99;
    opacity: 1;
}
.carrosel{
    display: inline-block;
    width: 200%;
  height: 30vh;
  background-color: #f5f5f5;
  text-align: center;
 }
 #dried_fruits{
    font-size: 14px;
    color: #b2b2b2;
    display: block;
    margin-bottom: 4px;
 

 }
 #crabpool{
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 500;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
 }
#a30{
    font-weight: 800;
    font-size: 120%;
}
#cortado{
    display: inline-block;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 10px;
}
#btnOptions{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    background-color: white;
    text-decoration: none;
}
#btnOptions:hover{
    background-color: #7fad39;
    color: white;
    fill: white;
}
#carrosel02{
    display: inline-block;
    text-align: justify;
    width: 50.5%;
    height: 12vh;

    margin-bottom: 1.3%;
}
#crab02{
    margin-left: 100%;
}
#crab03{
    margin-left: 100%;
}
.sidebar__itens{
    font-size: 12px;
    color: #6f6f6f;
    display: inline-block;
    padding: 8px 25px 6px;
    background: #f5f5f5;
    cursor: pointer;
    margin-bottom: 10%;
}
#pé{
    height: 54vh;
    width: 100%;
    padding: 0%;
  
    background-color: #F3F6FA;;
}
.fim{
    height: 5vh;
    width: 6.4%;
    display: inline-block;
    margin-left: 15%;

   
}
.lifinal{
   list-style: none;
   width: 300%;
   font-size: 140%;

}
.fim1{
    height: 5vh;
    width: 30%;
    display: inline-block;
    margin-left: 15%;

}
.joinOur{
    font-weight: 800;
    font-size: 150%;
}
.getemail{
    font-size: 120%;
}
.email{
    width: 110%;
    color: black;
    height: 5vh;
    border: solid 1px #ededed;
    outline: none;
    text-align: left;
}
.subscribe{
    width: 65%;
    height: 5vh;
    background-color: #7fad39;
    border: none;
text-align: center;
}
#link{
    text-decoration: none;
    color: #212529;
   margin-bottom: 13%;
}
#link1{
    text-decoration: none;
    color: #212529;
   margin-bottom: 13%;
}
#link2{
    text-decoration: none;
    color: #212529;
   margin-bottom: 21%;
}
#botão{
    background-color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
 margin-left: 3%;
   display: inline-block;
   width: 16%;
   height: 4.5vh;

}
#botão:hover
{
    transform: rotate(360deg);
    transition: 0.5s;
    background-color: #7fad39;
    fill: white;
}

#btnbotão{
    background-color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
 margin-left: 3%;
   display: inline-block;
   width: 8%;
   height: 4.5vh;
   border: solid 1px #ededed;
}
#liFim{
    position: absolute;
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-bottom: 1%;
    font-size: 120%;
}
#inline{
    display: inline-block;
    width: 40%;
}
#Copyright{
    margin-left: 19%;
    color: #6f6f6f;
    font-size: 140%;
}
#linkcolor{
    text-decoration: none;
    color: #007bff;
}
#linkcolor:hover{
    color: white;
}